.containerModals {
    display: none;

    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(179, 178, 175, 0.900);

    .catalogueModal {
        background: white;
        width: 50%;
        height: 50%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .fa-xmark {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
    }

    button {
        width: 237px;
    }
}