/*
==============================================
       Affichage Modale
==============================================
*/
.container-modale {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 1440px;
    height: 100vh;
    background: rgba(179, 178, 175, 0.900);


    .catalogueModal {
        background: white;
        width: 40%;
        height: 670px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        h2 {
            font-family: "work sans";
            font-size: 26px;
            color: black;
            margin: 60px 0 50px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
            text-align: center;
        }

        .fa-xmark {
            position: absolute;
            font-size: 1.5rem;
            top: 24px;
            right: 24px;
            cursor: pointer;
        }

        .fa-arrow-left {
            position: absolute;
            font-size: 1.5rem;
            top: 24px;
            left: 24px;
            cursor: pointer;

        }
    }

    .thumbnail-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 0 100px;
        gap: 30px 10px;

        figure {

            position: relative;

            img {
                width: 76px;
                height: 102px;
            }

            //      Suppression image
            // ==============================
            .fa-trash-can {
                position: absolute;
                top: 10px;
                right: 5px;
                background: black;
                color: white;
                padding: 5px;
                cursor: pointer;

            }
        }


    }

    /*
==============================================
        Formulaire Ajout d'image
==============================================
*/
    .insert-image {
        display: flex;
        flex-direction: column;
        width: 420px;
        // height: 169px;
        align-items: center;
        justify-content: center;
        border-radius: 3px;



    }

    #label-title {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        position: absolute;
        width: 32px;
        height: 16px;
        top: 330px;
        color: #3D3D3D;
    }

    #label-category {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        position: absolute;
        width: 32px;
        height: 16px;
        top: 430px;
        color: #3D3D3D;
    }

    #addTitle {
        margin-top: 50px;
        width: 420px;

    }

    #addCategory {
        margin-top: 50px;
        width: 420px;
    }

    .img-chooser {

        background: #E8F1F7;
        width: 420px;
        height: 169px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .fa-image {
            margin-top: 20px;
            font-size: 4rem;
            color: rgb(184, 197, 205);

        }

        #file {
            display: none;
        }


        .add-img {
            background: rgb(184, 197, 205);
            height: 36px;
            border-radius: 50px;
            border: none;
            margin: 10px 0;
            color: rgb(49, 103, 133);
            display: flex;
            align-items: center;
            padding: 0 20px;
            cursor: pointer;


        }

        p {
            margin-bottom: 10px;
            font-size: 0.625rem;
        }
    }

    .container_insert-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;


        .buttonValidForm {
            background-color: #1d6154;
            padding: 9px 50px;
            border-radius: 25px;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            font-family: Syne;
            cursor: pointer;
        }

        #insert-button {
            width: 237px;
            height: 36px;
            position: relative;
            margin-top: 100px;
            cursor: pointer;
            border: none;

            &::before {
                content: "";
                position: absolute;
                width: 420px;
                height: 2px;
                background: #B3B3B3;
                transform: translateY(-50px);
            }
        }
    }

}