.main_login {
    margin-top: 50px;
    max-width: 1440px;
    max-height: 1024px;
}



.form-popup {
    display: flex;
    flex-direction: column;
    text-align: center;


    p {
        color: red;
    }

    .inputErrorLogin {
        border: 1px solid red
    }

    h2,
    a {
        text-align: center;
    }
}